USE [master]
GO
/****** Object:  Database [Invent]    Script Date: 21.10.2024 16:40:03 ******/
CREATE DATABASE [Invent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Invent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Invent.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Invent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Invent_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Invent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Invent]
GO
/****** Object:  Table [dbo].[Enter]    Script Date: 21.10.2024 16:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enter](
	[id] [int] NOT NULL,
	[EntName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Enter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 21.10.2024 16:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [int] NOT NULL,
	[GenName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainTable]    Script Date: 21.10.2024 16:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainTable](
	[id] [int] NOT NULL,
	[idRole] [int] NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[phoneNum] [nvarchar](50) NOT NULL,
	[pasSer] [int] NOT NULL,
	[pasNum] [int] NOT NULL,
	[Birthday] [date] NOT NULL,
	[lastEnter] [date] NULL,
	[idEnter] [int] NULL,
	[idGen] [int] NOT NULL,
 CONSTRAINT [PK_MainTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.10.2024 16:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Enter] ([id], [EntName]) VALUES (1, N'Неуспешно')
INSERT [dbo].[Enter] ([id], [EntName]) VALUES (2, N'Успешно')
GO
INSERT [dbo].[Gender] ([id], [GenName]) VALUES (1, N'ж')
INSERT [dbo].[Gender] ([id], [GenName]) VALUES (2, N'м')
GO
INSERT [dbo].[MainTable] ([id], [idRole], [FIO], [email], [login], [password], [phoneNum], [pasSer], [pasNum], [Birthday], [lastEnter], [idEnter], [idGen]) VALUES (1, 3, N'Акимов Ян Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'+7(781)-785-58-37', 2367, 558134, CAST(N'1993-07-03' AS Date), CAST(N'2023-02-01' AS Date), 2, 2)
INSERT [dbo].[MainTable] ([id], [idRole], [FIO], [email], [login], [password], [phoneNum], [pasSer], [pasNum], [Birthday], [lastEnter], [idEnter], [idGen]) VALUES (2, 2, N'Гончарова Ульяна Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'+7(230)-906-88-15', 7101, 669343, CAST(N'1975-06-22' AS Date), CAST(N'2023-02-13' AS Date), 2, 1)
INSERT [dbo].[MainTable] ([id], [idRole], [FIO], [email], [login], [password], [phoneNum], [pasSer], [pasNum], [Birthday], [lastEnter], [idEnter], [idGen]) VALUES (3, 1, N'Анохина Елизавета Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'+7(555)-444-83-16', 3455, 719630, CAST(N'1991-08-16' AS Date), CAST(N'2023-02-10' AS Date), 2, 1)
GO
INSERT [dbo].[Role] ([id], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [RoleName]) VALUES (2, N'Исполнитель')
INSERT [dbo].[Role] ([id], [RoleName]) VALUES (3, N'Менеджер')
GO
ALTER TABLE [dbo].[MainTable]  WITH CHECK ADD  CONSTRAINT [FK_MainTable_Enter] FOREIGN KEY([idEnter])
REFERENCES [dbo].[Enter] ([id])
GO
ALTER TABLE [dbo].[MainTable] CHECK CONSTRAINT [FK_MainTable_Enter]
GO
ALTER TABLE [dbo].[MainTable]  WITH CHECK ADD  CONSTRAINT [FK_MainTable_Gender] FOREIGN KEY([idGen])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[MainTable] CHECK CONSTRAINT [FK_MainTable_Gender]
GO
ALTER TABLE [dbo].[MainTable]  WITH CHECK ADD  CONSTRAINT [FK_MainTable_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[MainTable] CHECK CONSTRAINT [FK_MainTable_Role]
GO
USE [master]
GO
